#cal{
  border: 1px solid #443f3f;
  border-radius: 8px;
  width: 200px;
}

#display{
  
  margin: 7px;
  padding: 9px;
  height: 14px;
}

.buttons{
  padding: 21px;
  margin: -14px;
  }

  .button{
    height: 31px;
    width: 43px;
  }